.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: blue;
}

.navigationActive a {
  color: white;
  background-color: blue;
}

.navigationDisabled a {
  color: grey;
  background-color: grey;
}
