
table, th, td {
  border:1px solid black;
}

.box {
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.box select {
  background-color: #0563af;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 0;
}


.cellx {
  background-color: #f4511e;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
}

.cellx:hover {opacity: 1}


.cellt {
  background-color: #206c98;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.cellt:hover {opacity: 1}

.cus-index {
  z-index: 1000;
}

.nav input::placeholder {
  color: gray;
  font-size: 15px;
}
.celly {
  background-color: #bd3a73;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.celly:hover {opacity: 1}

.borderx {
  border: 1px solid silver;
}
.borderx:hover {
  /* background-color: white; */
  border: .5px solid silver;
  opacity: 0.9;
  box-shadow: 0 0 2px silver;
}

.certain-item:hover {
  background-color: f0f8ff;
  box-shadow: 0 0 2px silver;
}
.no-underlinex {
  text-decoration: none;
}

.top-z {
  z-index: 10000;
  opacity: 0.4;
}


.z-cus {
  z-index: 100100
  ;
}

.side-commend {
  animation-name: appear;
  animation-duration: .4s;
}

@keyframes appear {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}

.cellu {
  background-color: #55b2d3;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  height: 90px;
}

.cellu:hover {opacity: 1}

.front-eth {
  z-index: 100100100;
}

.front-et {
  z-index: 10010010;
}

.glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 10.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.linear {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
