@font-face {
  font-family: "tahoma";
  src: local("tahoma"), url("../fonts/TahomaRegularfont.ttf");
  /* font-weight: bold; */
}
.tahoma {
  font-family: "tahoma";
}

table,
th,
td {
  border: 1px solid black;
}
.c-card img {
  transition: transform 0.3s ease-in-out;
}
.c-card:hover img {
  transform: scale(1.05);
}

.box {
  overflow: hidden;
}
.custom-index-2 {
  z-index: 1010101010101010101010101011010101010101010101010101010110;
}
a {
  text-decoration: none !important;
}

.box select {
  background-color: #0563af;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 0;
}

.cellx {
  background-color: #f4511e;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
}

.cellx:hover {
  opacity: 1;
}

.cellt {
  background-color: #008080;
  /* border: none !important; */
  color: white;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid white;
  z-index: 0 !important;
}

.cellt:hover {
  opacity: 1;
}

.cus-index {
  z-index: 1000;
}

.nav input::placeholder {
  color: gray;
  font-size: 15px;
}
.celly {
  background-color: #bd3a73;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.celly:hover {
  opacity: 1;
}

.borderx {
  border: 1px solid silver;
}
.borderx:hover {
  /* background-color: white; */
  border: 0.5px solid silver;
  opacity: 0.9;
  box-shadow: 0 0 2px silver;
}

.certain-item:hover {
  background-color: f0f8ff;
  box-shadow: 0 0 2px silver;
}
.no-underlinex {
  text-decoration: none;
}

.top-z {
  z-index: 10000;
  opacity: 0.4;
}

.z-cus {
  z-index: 100100;
}

.side-commend {
  animation-name: appear;
  animation-duration: 0.4s;
}

@keyframes appear {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}

.cellu {
  background-color: #55b2d3;
  border: none;
  color: white;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  height: 90px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cellu:hover {
  opacity: 1;
}

.front-eth {
  z-index: 100100100;
}

.front-et {
  z-index: 10010010;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.linear {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.shadow-cus-l {
  text-shadow: -1px 2px 2px silver;
}

.appearPoolMenu {
  animation: appearMenu;
  animation-duration: 0.3s;
}
.disappearPoolMenu {
  animation: disappearMenu;
  animation-duration: 0.5s;
  transition: all;
  transform: translateX(5);
}

@keyframes appearMenu {
  from {
    right: -600px;
  }
  to {
    right: 0;
  }
}
@keyframes disappearMenu {
  from {
    right: 0;
  }
  to {
    right: -200px;
  }
}
.clearfix {
  *zoom: 1;
} /* For IE 6/7 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ---------- LIVE-CHAT ---------- */

#live-chat {
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 300px;
}

#live-chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 12px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close {
  background: #1b2126;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 252px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.chat-message {
  margin: 16px 0;
}

.chat-message img {
  border-radius: 50%;
  float: left;
}

.chat-message-content {
  margin-left: 56px;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

.to-left {
  animation: to-left;
  animation-duration: 0.5s;
}

@keyframes to-left {
  from {
    width: 300px;
  }
}

.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  background-color: rgb(236, 236, 236) !important;
}
.accordion-button:hover {
  box-shadow: 0 0 5px silver !important;
}
