.folder-cus-container {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  // ------- FOLDER

  .folder {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    width: 450px;
  }

  // ------ SHARED USER

  .shared-user {
    align-items: center;
    color: #6a696a;
    display: inline-flex;
    font-weight: 500;
    margin-left: 5px;
    outline: none;
    text-decoration: none;

    &__avatar {
      width: 15px;
      height: 15px;
      margin-right: 3px;
    }
  }

  // ------- FOLDER SUMMARY

  .folder-summary {
    padding: 15px 20px 15px 15px;
    cursor: pointer;
    display: flex;
    line-height: 1;
    height: 80px;
    position: relative;

    &__start {
      position: relative;
    }

    &__file-count {
      position: absolute;
      top: -3px;

      &__amount {
        color: #ffffff;
        font-size: 12px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      svg {
        color: #5166fa;
        height: 30px;
        width: auto;
      }
    }

    &__details {
      padding: 2px 0 0 13px;

      &__name {
        color: #393738;
        font-size: 20px;
        font-weight: 500;
      }

      &__share {
        align-items: center;
        color: #b5b4b5;
        display: flex;
        font-size: 15px;
        margin-top: 8px;
      }
    }

    &__end {
      margin-left: auto;

      svg {
        fill: #c3c2c3;
      }
    }

    &::after {
      background: #e6e6e6;
      bottom: -2px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  // ------- CHEVRON BUTTON

  .folder-collapse-button {
    appearance: none;
    background: transparent;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    outline: none;
    position: absolute;
    position: relative;
    width: 30px;
    z-index: 1;

    &::after {
      background: #efeff0;
      border-radius: 40px;
      content: "";
      height: 35px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-out;
      width: 35px;
    }

    &:hover::after {
      opacity: 1;
    }

    svg {
      color: #9c9c9e;
      left: 50%;
      position: absolute;
      stroke-width: 3;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  // ------------ FOLDER ITEM

  .folder-item {
    align-items: flex-start;
    display: flex;
    height: 80px;
    line-height: 1;
    opacity: 0;
    padding: 20px 25px;
    position: relative;

    &__icon svg {
      display: block;
      height: 40px;
      width: auto;
    }

    &__details {
      padding: 1px 0 0 15px;

      &__name {
        color: #393738;
        font-size: 17px;
        font-weight: 500;
        position: relative;

        svg {
          height: auto;
          position: absolute;
          top: 50%;
          transform: translate(5px, calc(-50% + 1px));
          width: 20px;
        }
      }

      &__date {
        color: #b5b4b5;
        font-size: 15px;
        margin-top: 8px;
      }
    }

    &__size {
      color: #6a696a;
      font-weight: 500;
      margin-left: auto;
      margin-top: 2px;
    }

    &:not(:last-child)::after {
      background: #edecee;
      bottom: 0;
      content: "";
      height: 1px;
      left: 80px;
      position: absolute;
      right: 0;
    }
  }
}

$papers: 4;
$colors: (
  "one": #ffadad,
  "two": #ffd6a5,
  "three": #fdffb6,
  "four": #9bf6ff,
);

.body-folder2 {
  width: 300px !important;
  height: 250px !important;
  position: relative;
  //back side of the folder
  .folder2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #ffd485;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    //folder label
    &:before {
      width: 55px;
      height: 25px;
      border-radius: 5px;
      content: "";
      background-color: #ffd485;
      position: absolute;
      top: -10px;
      left: 0px;
    }
    //front side of the folder
    &:after {
      display: block;
      width: 200px;
      height: 150px;
      border-radius: 10px;
      content: "";
      transform: skew(0deg);
      background-color: #ffe1a8;
      transition: all 0.2s;
    }

    .paper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: whitesmoke;
      width: 190px;
      height: 140px;
      transition: all 0.2s;
      //adding bg color for each paper div
      @each $color, $i in $colors {
        &.#{$color} {
          background-color: $i;
        }
      }
    }

    &:hover {
      //adding front lapel of folder animation
      &:after {
        transform: skew(-20deg);
        margin-left: 25px;
      }
      //adding paper animation
      @for $i from 1 through $papers {
        .paper:nth-child(#{$i}) {
          transform: rotate(#{$i}0deg) translate(-80px, -80px);
        }
      }
    }
  }
}
