@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: linear-gradient(top left, #0056ff 0%, blue 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #0056ff 100%);
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.wrapper.form-success .container h1 {
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  font-weight: 200;
}
.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.form input {
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;

}
input:focus :active {
  outline: none;
  border: none;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 300px;
  color: black;
}
.form button {
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
.form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;

}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(-700px) rotate(600deg);
  }
}

.slice-top {
  animation: slice-top;
  animation-duration: 0.5s;
}

@keyframes slice-top {
  from {top: 50px}
  to {top: 10px;}
}

#border-red {
  border: 2px solid red;
}

.shadow-cus {
  box-shadow: 0 0 5px silver;
}
.shadow-cus-2 {
  box-shadow: 0 0 2px silver;
}

.custom-input{
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 3px;
  padding: 6px 15px;
  display: block;
  font-size: 14px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);;
}
.custom-input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.custom-input:focus {
  background-color: white;
  width: 100%;
  color: black;
}
.rounded-cus {
  border-radius: 3px;
}

.content ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.content ::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 1px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.w-cus {
  width: 83.5%;
}

.custom-input-2{
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 200px;
  border-radius: 3px;
  padding: 6px 15px;
  display: block;
  font-size: 14px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
select {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 200px;
  border-radius: 3px;
  padding: 6px 15px;
  display: block;
  font-size: 14px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.custom-input-2:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.custom-input-2:focus {
  background-color: white;
  width: 300px;
  color: black;
}


/* Navbar */

.navbar-mainbg{
	background-color: #123477;
	padding: 0px !important;
  height: 62.5px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.6);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    cursor: pointer;
}
#navbarSupportedContent ul li a:hover {
  color: rgba(255,255,255,0.8);
}
#navbarSupportedContent>ul>li.active>a{
	color: #123477;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #f3f6fd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #f3f6fd;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #123477;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

.rounded-cus {
  border-radius: 30px;
}

.expanded-menu {
  animation-name: left-right;
  animation-duration: .3s;
  z-index: 10;
}

@keyframes left-right {
  from {
    left: -1000px;
  }
  to {
    left: 0;
  }
}
.expanded-menu-x {
  animation-name: left-right-x;
  animation-duration: .4s;
  z-index: 1;
}

@keyframes left-right-x {
  from {
    left: -1000px;
  }
  to {
    left: 450px;
  }
}

.case-1 {
  transform: translateX(0);
}

.case-2 {
  transform: translateX(-100vw);
}

.glass2 {
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

#border {
  border-bottom: 2px solid silver !important;
}
#border::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: rgb(111, 111, 111);
}
#border:focus {
  border-bottom: 2px solid blue !important;
}
#border2 {
  border-bottom: 2px solid silver !important;
}
#border2::placeholder {
  font-weight: 500;
  color: rgb(111, 111, 111);
}
#border2:focus {
  border-bottom: 2px solid blue !important;
}

#side {
  width: 280px !important;
  min-width: 280px !important;
}

.hover {
  --c: 16 149 193; /* the color using the RGB format */

  color: rgb(255 255 255 / var(--_i, 0));
  background:
    /* Gradient #1 */
    linear-gradient(90deg, #fff 50%, rgb(var(--c)) 0) calc(100% - var(--_i, 0) * 100%) / 200%,
    /* Gradient #2 */
    linear-gradient(rgb(var(--c)) 0 0) 0% 100% / calc(var(--_i, 0) * 100%) no-repeat,
    /* Background Color */
    rgb(var(--c)/ var(--_i, 0));
  -webkit-background-clip: text, padding-box, padding-box;
          background-clip: text, padding-box, padding-box;
  --_t: calc(var(--_i,0)*.5s);
  transition:
    var(--_t),
    color calc(.2s - var(--_t)) var(--_t),
    background-color calc(.2s - var(--_t)) var(--_t);
}
.hover:hover {
  --_i: 1;
}

@import 'https://fonts.googleapis.com/css?family=Roboto';
.side-menu {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60px;
  list-style-type: none;
  background: #f32c52;
  overflow: hidden;
  transition: width .3s;
}

.side-menu:hover {
  width: 300px;
}

.side-menu li {
  width: 300px;
}

.side-menu li span {
  font-size: 1rem;
  margin: 20px 30px 0 22px;
}

.side-menu li a {
  display: block;
  font-size: .9rem;
  text-decoration: none;
  color: #FFF;
  height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  background: #14081d;
  display: block;
}
