.child {
  display: none;
}
.parent:hover {
  .child {
    display: flex;
  }
}
:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
}
.bubble {
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 5px 8px;
  vertical-align: top;
  border-radius: 5px;
  &:before {
    position: absolute;
    top: 13px;
    display: block;
    width: 8px;
    height: 6px;
    content: "\00a0";
    transform: rotate(29deg) skew(-35deg);
  }
  &.you {
    float: left;
    color: var(--white);
    background-color: #3eb6a5;
    align-self: flex-start;
    animation-name: slideFromLeft;
    &:before {
      left: -3px;
      background-color: #3eb6a5;
    }
  }
  &.me {
    float: right;
    color: var(--dark);
    background-color: #e4e6e7;
    align-self: flex-end;
    animation-name: slideFromRight;
    &:before {
      right: -3px;
      background-color: #e4e6e7;
    }
  }
}

.write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  display: flex;
  height: 42px;
  padding-left: 8px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px;
  input {
    font-size: 16px;
    float: left;
    width: 347px;
    height: 40px;
    padding: 0 10px;
    color: var(--dark);
    border: 0;
    outline: none;
    background-color: #eceff1;
    // @include font;
  }
  .write-link {
    &.attach {
      &:before {
        display: inline-block;
        float: left;
        z-index: 20;
        width: 20px;
        height: 42px;
        content: "";
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &.smiley {
      &:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        content: "";
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &.send {
      &:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        margin-left: 11px;
        content: "";
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
